<div class="info-anchor"></div>
<div class="manfred-info">
  <div class="manfred-profile" style="background-image: url({{profilePicture}})"></div>
  <div class="info-container">
    <h1 class="yellow mont-bold">{{bioHeader}}</h1>
    <p class="hind-regular">{{bio}}</p>
    <p class="hind-regular number">{{number}}</p>
  </div>
  <div class="social-container">
    {{> social-buttons}}
  </div>
</div>

<div class="portfolio-anchor"></div>
<div class="flex">
  {{#each information }}
  {{#if this.rowEnd}}
    </div>
  {{/if}}
  {{#if this.rowStart}}
    <div class="row">
  {{/if}}
      <div class="video-container">
        <div class="video-thumbnail" data-value="{{this.embed}}" style="background-image: url({{this.thumbnail}})">
          {{> play-button}}
        </div>
      </div>
  {{else}}
    <p class="empty">I haven't published any videos, because I suck.</p>
  {{/each}}
</div>
